@font-face{
    font-family: AvenirNextCyr-Regular;
    src: url('fonts/AvenirNextCyr-Regular.otf');
    font-weight: normal;
}
@font-face{
    font-family: AvenirNextCyr-Demi;
    src: url('fonts/AvenirNextCyr-Demi.otf');
    font-weight: normal;
}
@font-face{
    font-family: AvenirNextCyr-Italic;
    src: url('fonts/AvenirNextCyr-Italic.otf');
    font-weight: normal;
}
@font-face{
    font-family: AvenirNextCyr-Medium;
    src: url('fonts/AvenirNextCyr-Medium.otf');
    font-weight: normal;
}
@font-face{
    font-family: AvenirNextCyr-Light;
    src: url('fonts/AvenirNextCyr-Light.otf');
    font-weight: light;
}
@font-face{
    font-family: AvenirNextCyr-Bold;
    src: url('fonts/AvenirNextCyr-Bold.otf');
    font-weight: light;
}